{% extends "base.html" %}

{% block content %}

        <h1>Список рецептов</h1>
        <table class="recipe-table">
        <thead>
            <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Дата создания</th>            
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
            <td><h2>{{ recipe.id }}</h2></td>                
            <td><h3>{{ recipe.name }}</h3></td>
            <td><p>{{ recipe.created_at }}</p></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
<a href="{% url 'add_new' %}" class="btn">Добавить новый рецепт</a>
{% endblock %}
