{% extends "base.html" %}
{% load static %}
{% block title %}Главный экран{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'vars/css/styles.css' %}">
  <h2>Данные по каналам</h2>
  <div id="table-container">
    <p>Ожидание данных...</p>
  </div>
                
<button id="onclick" onclick="handleClick()">Вкл/выкл нагрев</button>
<h2>Текущие параметры процесса</h2>
  <div class="recipe_container" id = "recipe_value">
  <p class="recipe_id"></p> 
  <p class="recipe_name"></p>     
  </div>



<script src="{% static 'vars/js/socket.js' %}" defer></script>  

{% endblock %}
