{% extends "base.html" %}
{% block title %}Тренды{% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'vars/css/dracula.css' %}">

<form method="get" action="{% url 'trends' %}">
    <label for="start_date">Дата:</label>
    <input type="date" class="btn" name="start_date" value="{{ request.GET.start_date }}">
    <button type="submit" class="input">Искать</button>
    <a href="{% url 'trends_month' %}" class="btn btn-secondary">За текущий месяц</a>    
</form>

    {% if has_data %}
        <table class="trends-table">
            <thead>
                <tr>
                    <th>Показатель</th>
                    {% for trends in trends_month_aggregate.data  %}
                        <th>PV{{ forloop.counter }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Среднее</td>
                    {% for trends in trends_month_aggregate.data %}
                        <td>{{ trends.value__avg|floatformat:2 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Максимальное</td>
                    {% for trends in trends_month_aggregate.data %}
                        <td>{{ trends.value__max|floatformat:2 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Сумма</td>
                    {% for trends in trends_month_aggregate.data %}
                        <td>{{ trends.value__sum|floatformat:2 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Минимальное</td>
                    {% for trends in trends_month_aggregate.data %}
                        <td>{{ trends.value__min|floatformat:2 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Стандартное отклонение</td>
                    {% for trends in trends_month_aggregate.data %}
                        <td>{{ trends.value__stddev|floatformat:2 }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Дисперсия</td>
                    {% for trends in trends_month_aggregate.data %}
                        <td>{{ trends.value__variance|floatformat:2 }}</td>
                    {% endfor %}
                </tr>                
            </tbody>
        </table>      
    {% else %}
        <div class="no-data">
            <p>Нет данный за выбранный период</p>
        </div>          
    {% endif %}


<!-- Кнопка для скачивания PDF -->

{% endblock %}
