{% extends "base.html" %}
{% block title %}Тренды{% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'vars/css/dracula.css' %}">

<form method="get" action="{% url 'trends' %}">
    <label for="start_date">Дата:</label>
    <input type="date" class="btn" name="start_date" value="{{ request.GET.start_date }}">
    <button type="submit" class="input">Искать</button>
    <a href="{% url 'trends_month' %}" class="btn btn-secondary">За текущий месяц</a>
    <a href="{% url 'trends_month_aggregate' %}?start_date={{ request.GET.start_date }}" class="btn btn-secondary">Агрегатные значения</a>
    <a href="{% url 'draw' %}" class="btn btn-secondary">График</a>     
</form>


    {% if has_data %}
        <table class="trends-table">
        <thead>
            <tr>
            <th>Время</th>
            <th>PV1</th>
            <th>PV2</th> 
            <th>PV3</th>
            <th>PV4</th>                        
            </tr>
        </thead>
        <tbody>
            {% for trend in trends %}
            <tr>
            <td>{{ trend.0 }}</td>                
            <td>{{ trend.1 }}</td>
            <td>{{ trend.2 }}</td>
            <td>{{ trend.3 }}</td>
            <td>{{ trend.4 }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        <a 
            class="btn btn-primary"
            href="{% url 'trends_pdf' %}?start_date={{ selected_date }}"
            target="_blank"
        >
            Download as PDF
        </a> 
        <a 
            class="btn btn-primary"
            href="{% url 'trends_excel' %}?start_date={{ selected_date }}"
            target="_blank"
        >
            Download as Excel
        </a>        
    {% else %}
        <div class="no-data">
            <p>Нет данный за выбранный период</p>
        </div>          
    {% endif %}


{% endblock %}
